<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANICCA_PROXY_BASE_URL</key>
	<string>$(INFOPLIST_KEY_ANICCA_PROXY_BASE_URL)</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>起床やルーティン開始のために通知を使います。</string>
	<key>UIApplicationSceneManifest</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
